In [28]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import random

In [5]:
#chart-position-2 > div.chart-content.col-xs-12.col-sm-8 > p

In [6]:
# 2. find url and store it in a variable
url = "http://www.popvortex.com/music/netherlands/top-songs.php"

In [7]:
# 3. download html with a get request
response = requests.get(url)
response.status_code # 200 status code means OK!

200

In [8]:
# 4.1. parse html (create the 'soup')
soup = BeautifulSoup(response.content, "html.parser")

In [9]:
#soup

In [10]:
# 5. retrieve/extract the desired info (here, you'll paste the "Selector" you copied before to get the element that belongs to the top movie)
soup.select("#chart-position-2 > div.chart-content.col-xs-12.col-sm-8 > p")
#chart-position-2 > div.chart-content.col-xs-12.col-sm-8 > p

In [167]:
#initialize empty lists
title = []
artist = []


# define the number of iterations of our for loop
# by checking how many elements are in the retrieved result set
# (this is equivalent but more robust than just explicitly defining 250 iterations)
num_iter = len(soup.select("cite.title"))

# iterate through the result set and retrive all the data
for i in range(num_iter):
    title.append(soup.select("cite.title")[i].get_text())
    artist.append(soup.select("em.artist")[i].get_text())
    

#print(title)
#print(artist)

# each list becomes a column
songs = pd.DataFrame({"title":title,
                       "artist":artist
                      })

In [12]:
songs.head()

                         title                 artist
0      Cold Heart (PNAU Remix)  Elton John & Dua Lipa
1                   Easy On Me                  Adele
2           Schiddi Widdi Witt             Gino Graus
3  Do It To It (feat. Cherish)                 Acraze
4          Ons Moeder Zeej Nog             Jan Biggel

In [ ]:
#Music Recommender

In [47]:
search= str(input('enter song: '))
title=songs['title'].str.contains(search).any()
if (title==True):
    print('your song: ' + songs[songs['title'].str.contains(search)])

elif (title==False):
    print('We did not find your song but heres our recommendation: ' + songs['title'].sample())

enter song: Easy On Me
                   title            artist
1  your song: Easy On Me  your song: Adele

In [68]:
import pandas as pd
import requests
import json

In [109]:
#1

In [110]:

res1 = requests.get('https://axoltlapi.herokuapp.com/')

In [111]:
type(res1)

requests.models.Response

In [112]:
data1 = res1.json()
data1

{'url': 'https://i.gyazo.com/83993e5c5c188c2cb19002978cbdcffc.png',
 'facts': '',
 'pics_repo': 'https://github.com/AxolotlAPI/data',
 'api_repo': 'https://github.com/AxolotlAPI/axolotl.py-api'}

In [113]:
#2

In [114]:
res = requests.get('https://dog-facts-api.herokuapp.com/api/v1/resources/dogs/all')

In [115]:
type(res)

requests.models.Response

In [168]:
data = res.json()
#data

In [117]:
df = pd.DataFrame(data)
df

                                                  fact
0    All dogs can be traced back 40 million years a...
1    Ancient Egyptians revered their dogs. When a p...
2    Small quantities of grapes and raisins can cau...
3    Apple and pear seeds contain arsenic, which ma...
4    Rock star Ozzy Osborne saved his wife Sharon’s...
..                                                 ...
430  Dogs can discriminate the emotional expression...
431   The largest breed of dog is the Irish Wolfhound.
432  Dogs do not have an appendix. Why haven’t huma...
433         Dogs are all direct descendants of wolves.
434  A dog’s heart beats up to 120 times per minute...

[435 rows x 1 columns]

In [118]:
flattened_data = pd.json_normalize(data)
flattened_data
print(flattened_data['fact'][1])

Ancient Egyptians revered their dogs. When a pet dog would die, the owners shaved off their eyebrows, smeared mud in their hair, and mourned aloud for days.

In [119]:
import random

def random_catfact(data):
    print(data['text'][random.randint(0, len(data)-1)])

In [120]:
response = requests.get('https://dog-facts-api.herokuapp.com/api/v1/resources/dogs/all')

data = pd.DataFrame(response.json())
data.head()
#data.shape

                                                fact
0  All dogs can be traced back 40 million years a...
1  Ancient Egyptians revered their dogs. When a p...
2  Small quantities of grapes and raisins can cau...
3  Apple and pear seeds contain arsenic, which ma...
4  Rock star Ozzy Osborne saved his wife Sharon’s...

In [ ]:
#3

In [145]:

res2 = requests.get('https://anapioficeandfire.com/api/characters/583')

In [146]:
type(res2)

requests.models.Response

In [160]:
data2 = res2.json()
#data2

In [154]:
from pandas.io.json import json_normalize

results = res2.json()
flattened_data = json_normalize(results)

flattened_data

<ipython-input-154-14c44ba216e6>:4: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  flattened_data = json_normalize(results)

,url,name,gender,culture,born,died,titles,aliases,father,mother,spouse,allegiances,books,povBooks,tvSeries,playedBy
0,https://anapioficeandfire.com/api/characters/583,Jon Snow,Male,Northmen,In 283 AC,,[Lord Commander of the Night's Watch],"[Lord Snow, Ned Stark's Bastard, The Snow of W...",,,,[https://anapioficeandfire.com/api/houses/362],[https://anapioficeandfire.com/api/books/5],"[https://anapioficeandfire.com/api/books/1, ht...","[Season 1, Season 2, Season 3, Season 4, Seaso...",[Kit Harington]

In [162]:
flattened_data = pd.json_normalize(data2)
flattened_data
print(flattened_data['name'][0])

Jon Snow

In [158]:
#df2 = pd.DataFrame(data2)
#df2

In [ ]:
#4

In [149]:

res21 = requests.get('https://api.corrently.io/core/gsi?key=[APIKEY]')

In [150]:
type(res21)

requests.models.Response

In [159]:
data21 = res21.json()
#data21

In [157]:
from pandas.io.json import json_normalize

results = res21.json()
flattened_data = json_normalize(results)

flattened_data

<ipython-input-157-e9bf902d1a18>:4: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  flattened_data = json_normalize(results)

,forecast,location.zip,location.city,matrix.h_0.timeStamp,matrix.h_0.avg_1,matrix.h_0.avg_2,matrix.h_0.avg_3,matrix.h_0.avg_4,matrix.h_0.avg_5,matrix.h_0.avg_6,...,matrix.h_39.avg_10,matrix.h_39.avg_9,matrix.h_39.avg_8,matrix.h_39.avg_7,matrix.h_39.avg_6,matrix.h_39.avg_5,matrix.h_39.avg_4,matrix.h_39.avg_3,matrix.h_39.avg_2,matrix.h_39.avg_1
0,"[{'epochtime': 1637686800, 'eevalue': 52, 'ewi...",10117,Berlin,1637686800000,False,False,False,False,False,False,...,44,44,44,44,44,44,44,44,44,44

In [166]:
flattened_data = pd.json_normalize(data21)
flattened_data
print(flattened_data['location.city'][0])

Berlin